<p style="color: green"><%= notice %></p>
<h2><%= @comment.user_name %></h2>
<p style="margin:10px"><%=@comment.body%></p>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
  <%= link_to "Back to groups", groups_path %>
  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>
