<nav class="bg-teal-500 shadow-lg sticky top-0 z-50">
  <div class="max-w-7xlxl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="#" class="flex items-center py-4 px-2">
            <svg class="fill-current text-white h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
            <span class="font-semibold text-white text-lg">Community App</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <div class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
            <%= link_to "Groups", groups_path%>
          </div>
          <div class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
            <%= link_to "Articles", articles_path%>
          </div>
        </div>
      </div>
      <!-- Secondary Navbar items -->
      <div class="hidden md:flex items-center space-x-3 ">
        <% if user_signed_in? %>
          <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-white hover:border-transparent bg-white hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </div>
        <%else%>
          <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
            <%= link_to 'Login', new_user_session_path%>
          </div>
          <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-white hover:border-transparent bg-white hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
            <%= link_to 'Signup', new_user_registration_path %>
          </div>
        <%end%></div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center" onfocusin="myFunction()" >
        <button class="outline-none mobile-menu-button">
          <svg class=" w-6 h-6 text-white hover:text-gray-500"
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu">
    <ul class="">
      <li><a>
          <%= link_to "Groups", groups_path, class:"block text-teal-900 px-2 py-4 hover:bg-white transition duration-300" %> 
          <li>
            <li><a>
                <%= link_to "Articles", articles_path, class:"block text-teal-900 px-2 py-4 hover:bg-white transition duration-300"%>
                <li>
                </ul>
                <% if user_signed_in? %>
                  <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-white hover:border-transparent bg-white hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                  </div>
                <%else%>
                  <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                    <%= link_to 'Login', new_user_session_path%>
                  </div>
                  <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-white hover:border-transparent bg-white hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                    <%= link_to 'Signup', new_user_registration_path %>
                  </div>
                <%end%>
              </div>
              <script>
             
             function myFunction()
               {
                const btn = document.querySelector("button.mobile-menu-button");
                const menu = document.querySelector(".mobile-menu");

                btn.addEventListener("click", () => {
                	menu.classList.toggle("hidden");
                });
               }
              </script>
            </nav>
          </body>
        </html>
