<!DOCTYPE html>
<html>
  <head>
    <title>CommunityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

   <body>
    <%= render 'layouts/navigation' %>
    <%render 'layouts/messages'%>
    <br>
    <h2 class="text-2xl font-bold leading-7 text-center text-teal-900 sm:text-3xl sm:tracking-tight sm:truncate">COMMUNITY APP</h2>

    <%= yield %>
    
      <%= render 'layouts/footer' %>
  </body>
</html>
